@charset 'UTF-8';
* {
  font-family: Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', '標楷體', DFKai-SB, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

html * {
  max-height: 1000000px;
}

body {
  padding-top: 70px;
}

#main {
  min-height: 650px;
}

#calendar .datepicker {
  margin: 0 auto;
}

#panel-map .panel-body {
  padding: 0;
}

#map {
  height: 610px;
}

.text-center {
  padding-top: 2em;
}

#slider-interval {
  width: 100%;
}

#slider-interval .slider-selection {
  background: #b2dbfb;
}

#panel-filter {
  padding-right: 2em;
}

#panel-filter>.row {
  margin-bottom: 1.5em;
}

#panel-filter>.row>label {
  margin-right: 1em;
}

#month label.btn {
  padding: 6px;
}