@charset 'UTF-8';
* {
    font-family: Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', '標楷體', DFKai-SB, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

.hide-block {
    visibility: hidden !important;
}

.navbar-custom {
    background-color: #3e3f3a;
    border-color: #3e3f3a;
}

.navbar-custom a {
    color: #fff;
}

html * {
    max-height: 1000000px;
}

body {
    padding-top: 7em;
}

#main {
    min-height: 650px;
}

#calendar .datepicker {
    margin: 0 auto;
}

.panel-map .panel-body {
    padding: 0;
}

#traffic-map {
    height: 560px;
}

#vd-map {
    height: 300px;
}

#chart {
    text-align: center;
    padding-top: 2em;
    height: 375px;
}

.text-center {
    padding-top: 2em;
}

#slider-interval {
    width: 100%;
}

.slider-handle {
    background: #325d88;
}

#slider-interval .slider-selection {
    background: #BABABA;
}

#panel-filter {
    padding-right: 2em;
}

.row {
    margin-bottom: 1em;
}

#panel-filter>.row>label {
    margin-right: 1em;
}

#month label.btn {
    padding: 6px;
}
